/* save this color for shadow color: #553d67; */
:root {
    --primary-color: #7395ae;
    --secondary-color: #5d5c61;
    --tertiary-color: #b1a296;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #5d5c61 35%, #7395ae 59%);
    font-family: Helvetica, Arial, sans-serif;
}


                                        /* Header Style */
header {
    padding: 20px 35px;
    background: linear-gradient(to bottom, #5d5c61 58%, #b1a296 103%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Bangers', cursive;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

header h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    justify-content: center;
    margin: 0 15px;
}
                                        /* Header Style END */


                                        /* Bio Section Style */
main {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mug-shot {
    flex: 1 5%;
    margin-right: 20px;
}

.bio-text {
    flex: 2.5;
}

 #mug, .img-top {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.mug-shot {
    position: relative;
    display: inline-block;
}

.mug-shot .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.mug-shot:hover .img-top {
    display: inline;
}

.bio-text {
    border: 3px solid var(--secondary-color);
    background-color: rgba(177,162,150, 0.8);
    padding: 10px;
    color: #2F4F4F;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    text-align: center;
}

.bio-text h2 {
    font-family: 'Bangers', cursive;
    font-size: 32px;
}

.bio-text p {
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
    text-align: justify;
    font-size: 20px;
}

.hero {
    background-image: url("../images/pool.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}




/* Portfolio section style */
#my-work {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: var(--primary-color);
    padding-top: 25px;
    font-size: 32px;
}


#portfolio-text {
    font-family: 'Montserrat', sans-serif;
    width: 750px;
    padding-bottom: 25px;
    margin: 0 auto 25px auto;
    color: lightgray;
    font-size: 20px;
    justify-content: justify;
}

.watch-that-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border: 3px solid var(--secondary-color);
    background: linear-gradient(to bottom, #b1a296 25%, #5d5c61 81%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.watch-that-box p {
    width: 620px;
}

.watch-that-box a, .flex-item a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
}

.watch-that-box h3, .flex-item h3 {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 32px;
}

.watch-that-box p, .flex-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    justify-content: justify;
    color: lightgray;
    margin: 0 auto;
}

.watch-that-box {
    width: 800px;
    margin: 0 auto 10px auto;
}

.watch-that-box a img {
    margin: 0 auto;
    padding: 10px 0 20px 0;  
}

.flex-container-1, .flex-container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.flex-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid var(--secondary-color);
    background: linear-gradient(to bottom, #b1a296 25%, #5d5c61 81%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 10px 30px;
    padding: 15px ;
    flex-basis: auto;
    align-content: center;
}

.flex-item p {
    width: 390px;
}

.flex-item img {
    margin-top: 10px;
    margin-bottom: 25px;
   
}

/* © 2019 Horiseon Social Solution Services, Inc. */
#seo {
    color: #d9dcd6;
}

/* Styling four smaller images together */
#run-buddy, 
#ramones, 
#horiseon,
#style-this-page {
    width: 400px;
}


                                        /* Contact section style */

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
}                                        

section .contact-info {
    padding: 20px 35px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid var(--secondary-color);
    background: linear-gradient(to bottom, #5d5c61 25%, #b1a296 81%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: lightgray;
}

.contact-info p {
    font-family: 'Montserrat', sans-serif;
}

#contact-me {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: var(--primary-color);
    padding-top: 10px;
    font-size: 32px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: lightgray;
    padding: 0 20px;
  
}

i {
    color: var(--primary-color);
    font-size: 40px;
}

                                        /* Footer Styling */
footer {
    padding: 20px 0 20px 0;
}

footer h2 {
    font-family: 'Bangers', cursive;
    text-align: center;
    color: lightgray;
    font-size: 32px;
}