/* save this color for shadow color: #553d67; */





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5d5c61;
    font-family: Helvetica, Arial, sans-serif;
}


                                        /* Header Style */
header {
    padding: 20px 35px;
    background-color: #5d5c61;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: #7395ae;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

header h1 {
    color: #7395ae;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
}

header nav ul li {
    font-size: 20px;
}


                                        /* Bio Section Style */
main {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main .mug-shot {
    flex: 1 5%;
    margin-right: 20px;
}

main .bio-text {
    flex: 2.5;
}

.mug-shot #mug, .img-top {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.mug-shot {
    position: relative;
    display: inline-block;
}

.mug-shot .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.mug-shot:hover .img-top {
    display: inline;
}

.bio-text {
    border: 3px solid #5d5c61;
    background-color: rgba(177,162,150, 0.8);
    padding: 10px;
    color: #2F4F4F;
    width: 40%;
    margin: 0 0.1% 0.1% 0.1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    text-align: center;
}



.bio-text p {
    color: lightgray;
    text-align: justify;
}

.hero {
    background-image: url("../images/pool.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}


                                        /* Portfolio section style */
section h2, p {
    color: #7395ae;
}

section p {
    color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    column-gap: 20px;
    background-color: #b1a296;
    padding: 20px 0px 20px 20px;;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #5d5c61;
    border-radius: 15px;
}

.portfolio{
   margin-left: auto;
   margin-right: auto
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    width: 752px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-text {
    padding: 20px;
    width:750px
}

.portfolio-text h2 {
    text-align: center;
}

.portfolio h3 {
    text-align: center;
}

.portfolio h3 a:hover {
    color: #7395ae;
}

.portfolio h3 a:active {
    color: blue;
}

.portfolio p {
    color: lightgray;
    text-align: left;
}

.no-dec {
    text-decoration: none;
    color: gray;
}

#run-buddy {
    width: 400px;
}

.run-buddy {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 401px;  
}

#ramones {
    width: 250px;
}

.ramones {    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#horiseon {
    width: 250px;
}

.horiseon {    
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

#seo {
    color: #d9dcd6;
}

#watch-that-box {
    width: 675px;
}

.watch-that-box {    
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 690px;
}

.wtb-text {
    width: 680px;
}

.horiseon img {
    margin-left: auto;
    margin-right: auto;
}

#style-this-page {
    width: 250px;
}

.style-this-page {    
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.ramones, .watch-that-box, .style-this-page, .horiseon {
    width: 251px;
}



                                        /* Contact section style */
section .contact {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex: 2 10%;
    color: lightgray;
}

.contact-form {
    flex: 3 15%;
    color: lightgray;
}